
@{
    ViewBag.Title = "Item";
}

<h2>Item Management Testing</h2>
<div>
    <p class="row">
        @Html.ActionLink("Item List", "Index", "Items")
        @Html.ActionLink("Filter Items", "Filter", "Items")
    </p>
</div>

