
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>
<div>
    <p class="row">
        @Html.ActionLink("Order List", "Index", "Orders")
    </p>
    <p class="row">
        @Html.ActionLink("Order Detail", "Index", "OrderDetails")
    </p>
</div>
